@using ormilitarism.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<title>

@{
    ViewBag.Title = "myprofile";
    Layout = "~/Shared/userlayout.cshtml";
    var cookie = Request.Cookies["users"];
}


@Html.Action("partnav", "home")
<section id="indexContent" class="container">
    <section id="contentInner" class="dflex w-100">
        <div class="w-30 left  ">
            @Html.Action("daily", "home")
            @Html.Action("mostpop", "home")


        </div>

        <div class="w-70 right">

            @Html.Action("custpart")
            @using (Html.BeginForm("myprofile", "customer", FormMethod.Get))
            {

                <div class="sorters m20">
                    @Html.Label("Açar söz")
                    @Html.TextBox("p")

                    <div class="form-inner">
                        <label for="sortBY">Syrala:</label>
                        <select id="filter" name="filter">
                            <option name="filter" value="basliq">Basliqlariniz</option>
                            <option name="filter" value="postlar">Cavabladiginiz postlar</option>
                        </select>

                        <select id="sortBY" name="sortBY">
                            <option name="sortBY" value="new">En jeni</option>
                            <option name="sortBY" value="popular">En chox oxunan</option>
                        </select>

                    </div>
                    <label for="say">Neçə neçə görmək istiyirsən:</label>
                    <select id="say" name="say">
                        <option name="say" value="5">5</option>
                        <option name="say" value="7">7</option>
                        <option name="say" value="10">10</option>
                    </select>
                    @*<span>sırala: </span><a href="#">reytinq</a> | <a href="#">zaman</a> | <a href="~/customer/mytitles">basliqlarim</a>*@

                    <button class="normal">Axtar</button>
                </div>
            }

            @foreach (var basliqlar in Model)
            {
                foreach (var postlar in basliqlar.Posts)
                {
                    if (postlar.Titleid == basliqlar.titleid)
                    {

                        <div class="post1">
                            <div class="inner">
                                <a href="~/home/onetopic/@basliqlar.titleid">
                                    <h4>@basliqlar.titlename</h4>
                                </a>

                                @if (basliqlar.sorguid == 1)
                                {
                                    <p style="color: #ffc107 !important">Status: @basliqlar.Sorgu.sorguad</p>
                                }
                                else if (basliqlar.sorguid == 2)
                                {
                                    <p style="color: #28a745">Status: @basliqlar.Sorgu.sorguad</p>

                                }
                                else
                                {
                                    <p class="text-danger" style="color:#dc3545 !important">Status: @basliqlar.Sorgu.sorguad</p>

                                }
                                @{int i = postlar.postmezmun.Length;}

                                @if (postlar.postmezmun.Count() < 50)
                                {
                                    <p>
                                        @postlar.postmezmun
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        @postlar.postmezmun.Substring(0, 50)<span class="dots">...</span><span class="more">@postlar.postmezmun.Substring(50, i - 50)</span>
                                    </p>
                                    <a class="showRest" onclick="more()">
                                        ardını oxu <i class="fa-solid fa-angles-down"></i>

                                    </a>
                                    <script>
                                        $('.more').hide()
                                        function more() {
                                            $('.more').show()

                                        }
                                    </script>
                                }

                            </div>
                            @if (postlar.Postimgs.Count == 0)
                            {

                            }
                            else
                            {


                                <div class="imgHolder dflex">

                                    @foreach (var item2 in postlar.Postimgs)
                                    {

                                        if (item2.imgname is null)
                                        {

                                        }
                                        else
                                        {

                                            <div>

                                                <img src="@item2.imgname" />
                                            </div>
                                        }

                                    }


                                    <img class="w-100 imgMain" src="" alt="">
                                </div>

                            }
                            <div class="dflex juspb">
                                <div class="icons">
                                    @*<form class="likeform" method="post" action="~/home/likeninc/">
                                    @Html.HiddenFor(x => postlar.postid, new { @class = "postidpp" })
                                    @{int postaid = @postlar.postid;}

                                    <button class="like" style="cursor:pointer"  >
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        <br> <span class="likec" name="likec">@postlar.postlikecount</span>
                                    </button>
                                </form>*@
                                    @{ var likelar = postlar.Likes.Where(x => x.postid == postlar.postid).ToList();}
                                    @if (likelar.Count() == 0)
                                    {
                                        <a onclick="likeaction(@postlar.postid)" class="like  " id="like_@postlar.postid" style="cursor:pointer">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            <br> <span class="likec @postlar.postid" id="@postlar.postid" name="likec">@postlar.postlikecount</span>
                                        </a>
                                    }
                                    else if (likelar.Count() > 0)
                                    {

                                        if (likelar.Select(x => x.custname).Contains(HttpContext.Current.User.Identity.Name))
                                        {



                                            <a onclick="likeaction(@postlar.postid)" class="like active " id="like_@postlar.postid" style="cursor:pointer">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                <br> <span class="likec @postlar.postid" id="@postlar.postid" name="likec">@postlar.postlikecount</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a onclick="likeaction(@postlar.postid)" class="like" id="like_@postlar.postid" style="cursor:pointer">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                                <br> <span class="likec @postlar.postid" id="@postlar.postid" name="likec">@postlar.postlikecount</span>
                                            </a>
                                        }

                                    }




                                    @{ var favlar = postlar.Favorits.Where(x => x.postid == postlar.postid).ToList();}
                                    @if (favlar.Count() == 0)
                                    {
                                        <a onclick="favaction(@postlar.postid)" class="favor  " id="favor_@postlar.postid" style="cursor:pointer">
                                            <i class="fa-solid fa-bookmark"></i>
                                            <br> <span class="favorc @postlar.postid" id="fav_@postlar.postid" name="likec">@postlar.postfavcount</span>
                                        </a>
                                    }
                                    else if (favlar.Count() > 0)
                                    {

                                        if (favlar.Select(x => x.custname).Contains(HttpContext.Current.User.Identity.Name))
                                        {



                                            <a onclick="favaction(@postlar.postid)" class="favor active " id="favor_@postlar.postid" style="cursor:pointer">
                                                <i class="fa-solid fa-bookmark"></i>
                                                <br> <span class="favorc @postlar.postid" id="fav_@postlar.postid" name="likec">@postlar.postfavcount</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a onclick="favaction(@postlar.postid)" class="favor" id="favor_@postlar.postid" style="cursor:pointer">
                                                <i class="fa-solid fa-bookmark"></i>
                                                <br> <span class="favorc @postlar.postid" id="fav_@postlar.postid" name="likec">@postlar.postfavcount</span>
                                            </a>
                                        }

                                    }

                                </div>
                                <div class="share">
                                    <p class=" shareIcon">
                                        <i class="fa-solid fa-ellipsis"></i>
                                        <span class="shareList">
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/avazgaraev/mambatv">Paylaş</a>
                                            <a href="#">Şikayət et</a>
                                            <a href="#">Cavabla</a>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="postUser dflex">
                                <div class="postInfo  ">
                                    <a href="#">@@@postlar.Customer.customername</a>

                                    <p>@postlar.posttime</p>
                                </div>
                                <div class="profPhoto">
                                    <img src="@postlar.Customer.customerimg" alt="">
                                </div>
                            </div>
                        </div>


                    }
                }
            }
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            swal(@ViewBag.TheMessageIs);
        </script>

            <style>
                .pagination {
                    display: flex
                }

                    .pagination li.active a {
                        background-color: transparent;
                        color: black;
                        cursor: auto
                    }
            </style>
            <div class="m20">
                <div class="select">
                    <br />
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("myprofile", new { page, p = Request.Params["p"], sortBY = Request.Params["sortBY"], say = Request.Params["say"], filter = Request.Params["filter"] }), new PagedListRenderOptions
               {
                   DisplayLinkToIndividualPages = true,
                   DisplayPageCountAndCurrentLocation = false,
                   MaximumPageNumbersToDisplay = 5,
               })


                    @*<i class="fa-solid fa-angle-down"></i>*@

                </div>
            </div>

        </div>
        <script>
        function likeaction(id) {
            var likedcount = parseInt($('#' + id).text())
            //console.log($(this).data("id"))
             @*var url = '@Url.Action("likeinc", "home")?id=' + id;*@
            $.ajax({
                type: 'POST',
                url: '/Home/likeinc/' + id,
                data: { id: id, likecount: likedcount },
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                success: function func(fd) {
                    /*$('.likec').hasClass('.' + id).html(fd)*/
                    if ($('.likec').hasClass(id)) {
                        $('#' + id).html(fd)
                        console.log(fd)
                        $('#like_'  + id ).toggleClass("active")
                    return fd
                    }

                }
            });
        return false;
    }
        </script>

        <script>
        function favaction(id) {
            var favcount = parseInt($('#fav_' + id).text())
            //console.log($(this).data("id"))
             @*var url = '@Url.Action("likeinc", "home")?id=' + id;*@
            $.ajax({
                type: 'POST',
                url: '/Home/favinc/' + id,
                data: { id: id, favcount: favcount },
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                success: function func(fd) {
                    /*$('.likec').hasClass('.' + id).html(fd)*/
                    if ($('.favorc').hasClass(id)) {
                        $('#fav_' + id).html(fd)
                        console.log(fd)
                        $('#favor_'  + id ).toggleClass("active")
                    return fd
                    }

                }
            });
        return false;
    }
        </script>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
