@model List<ormilitarism.Models.title>


@foreach (var basliqlar in Model)
{
    var postlar = basliqlar.Posts.OrderBy(x => x.posttime).First();
    @{ var favlar = postlar.Favorits.Where(x => x.postid == postlar.postid).ToList();}
    if (favlar.Count() == 0)
    {
        <a onclick="favaction(@postlar.postid)" class="favor  " id="favor_@postlar.postid" style="cursor:pointer">
            <i class="fa-solid fa-bookmark"></i>
            <br> <span class="favorc @postlar.postid" id="@postlar.postid" name="likec">@postlar.postfavcount</span>
        </a>
    }
    else if (favlar.Count() > 0)
    {

        if (favlar.Select(x => x.custname).Contains(HttpContext.Current.User.Identity.Name))
        {



            <a onclick="favaction(@postlar.postid)" class="favor active " id="favor_@postlar.postid" style="cursor:pointer">
                <i class="fa-solid fa-bookmark"></i>
                <br> <span class="favorc @postlar.postid" id="@postlar.postid" name="likec">@postlar.postfavcount</span>
            </a>
        }
        else
        {
            <a onclick="favaction(@postlar.postid)" class="favor" id="favor_@postlar.postid" style="cursor:pointer">
                <i class="fa-solid fa-bookmark"></i>
                <br> <span class="favorc @postlar.postid" id="@postlar.postid" name="likec">@postlar.postfavcount</span>
            </a>
        }

    }
        }